<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>App</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link href="/static/sticky-footer.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h3 class="mt-5">App</h3>
      <!-- <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p> -->
      <!-- <p>Use <a href="https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p> -->

      <a href="/login">Login</a>
      <br>
      <a href="/signup">Signup</a>
      <br>
      <a href="/confirm">Confirm</a>
      <br>
      <a href="/console">Console</a>

    </div>
  </main>

  <!-- <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer> -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/cookies.js"></script>
  <script src="/static/api.js"></script>
</body>

</html>